*.o
*.a
*.Po
*.lo
*.la
*~
dibbler-client
dibbler-server
dibbler-relay
dibbler-requestor
AddrMgr/Makefile
AddrMgr/Makefile.in
SrvAddrMgr/Makefile
SrvAddrMgr/Makefile.in
SrvCfgMgr/Makefile
SrvCfgMgr/Makefile.in
SrvIfaceMgr/Makefile
SrvIfaceMgr/Makefile.in
SrvMessages/Makefile
SrvMessages/Makefile.in
SrvOptions/Makefile
SrvOptions/Makefile.in
SrvTransMgr/Makefile
SrvTransMgr/Makefile.in
Requestor/Makefile
Requestor/Makefile.in
RelTransMgr/Makefile
RelTransMgr/Makefile.in
RelOptions/Makefile
RelOptions/Makefile.in
RelMessages/Makefile
RelMessages/Makefile.in
Messages/Makefile
Messages/Makefile.in
Misc/Makefile
Misc/Makefile.in
Options/Makefile
Options/Makefile.in
ClntTransMgr/Makefile
ClntTransMgr/Makefile.in
ClntAddrMgr/Makefile
ClntAddrMgr/Makefile.in
ClntCfgMgr/Makefile
ClntCfgMgr/Makefile.in
ClntIfaceMgr/Makefile
ClntIfaceMgr/Makefile.in
ClntMessages/Makefile
ClntMessages/Makefile.in
IfaceMgr/Makefile
IfaceMgr/Makefile.in
CfgMgr/Makefile
CfgMgr/Makefile.in
ClntOptions/Makefile
ClntOptions/Makefile.in
Port-bsd/Makefile
Port-bsd/Makefile.in
RelCfgMgr/Makefile
RelCfgMgr/Makefile.in
RelIfaceMgr/Makefile
RelIfaceMgr/Makefile.in
Port-linux/Makefile
Port-linux/Makefile.in