*.o
*.a
*.Po
*.lo
*.la
*~
dibbler-client
dibbler-server
dibbler-relay
dibbler-requestor
AddrMgr/Makefile
SrvAddrMgr/Makefile
SrvCfgMgr/Makefile
SrvIfaceMgr/Makefile
SrvMessages/Makefile
SrvOptions/Makefile
SrvTransMgr/Makefile
Requestor/Makefile
RelTransMgr/Makefile
RelOptions/Makefile
RelMessages/Makefile
Messages/Makefile
Misc/Makefile
Options/Makefile
ClntTransMgr/Makefile
ClntAddrMgr/Makefile
ClntCfgMgr/Makefile
ClntIfaceMgr/Makefile
ClntMessages/Makefile
IfaceMgr/Makefile
CfgMgr/Makefile
ClntOptions/Makefile
Port-bsd/Makefile
RelCfgMgr/Makefile
RelIfaceMgr/Makefile
Port-linux/Makefile
Makefile
doc/html
Port-win32/Debug*
Port-win32/*.user
Port-win32/dibbler-win32.vs2008.ncb
Port-win32/dibbler-win32.vs2008.suo
