Source: dibbler
Section: admin
Priority: optional
Maintainer: Tomasz Mrugalski <thomson@klub.com.pl>
Uploaders: Bartosz Fenski <fenio@debian.org>
Build-Depends: debhelper (>= 4.0.0), dpatch, po-debconf
Standards-Version: 3.7.2

Package: dibbler-server
Architecture: any
Depends: ${shlibs:Depends}, debconf (>= 1.3.22)
Recommends: dibbler-doc
Homepage: http://klub.com.pl/dhcpv6/
Description: portable DHCPv6 server
 The Dibbler server supports both stateful (i.e. IPv6 address
 granting) as well as stateless (i.e. options granting)
 auto-configuration modes of the DHCPv6 protocol. Relays are also
 supported. This package allows IPv6 hosts to be automatically
 configured on the network.
 
Package: dibbler-client
Architecture: any
Depends: ${shlibs:Depends}, debconf (>= 1.3.22), ucf
Recommends: dibbler-doc
Homepage: http://klub.com.pl/dhcpv6/
Description: portable DHCPv6 client
 The Dibbler client supports both stateful (i.e. IPv6 address
 granting) as well as stateless (i.e. option granting)
 auto-configuration modes of the DHCPv6 protocol. Besides basic
 capabilities, it supports various DHCPv6 extensions, for instance
 option renewal. Installing Dibbler allows obtaining IPv6 addresses and
 options from a DHCPv6 server.

Package: dibbler-relay
Architecture: any
Depends: ${shlibs:Depends}, debconf (>= 1.3.22)
Recommends: dibbler-doc
Homepage: http://klub.com.pl/dhcpv6/
Description: portable DHCPv6 relay
 Relays are used as proxies between servers and clients. Their main
 advantage is the ability to support multiple remote links using only
 one server. Installing Dibbler relay allows serving multiple, not
 physically connected, links with one DHCPv6 server.

Package: dibbler-doc
Architecture: all
Section: doc
Depends:
Suggests: dibbler-server, dibbler-client, dibbler-relay
Homepage: http://klub.com.pl/dhcpv6/
Description: documentation for Dibbler
 This package includes both user and developer documentation, covering all
 aspects of the Dibbler DHCPv6 implementation:
  - server, client and relay usage and configuration;
  - various tips and frequently asked questions;
  - internal structure/code description and hints for developers.
