#!/bin/bash -e

# if we do not have debconf, we just skip this
. /usr/share/debconf/confmodule || exit 0

db_version 2.0
#db_capb backup
db_settitle dibbler-server/title

# Step 1: Do you want dibbler-client to be started?
db_input critical dibbler-server/start || true
db_go

db_input critical dibbler-server/config || true
db_go

db_stop

#DEBHELPER#
