#!/bin/bash -e

PATH=$PATH:.

# if we do not have debconf, we just skip this
. /usr/share/debconf/confmodule || exit 0


db_version 2.0
#db_capb backup
db_settitle dibbler-client/title

# Step 1: Do you want dibbler-client to be started?
db_input critical dibbler-client/start || true
db_go

# Step 2: What interfaces should be configured?
db_input high dibbler-client/interfaces || true
db_go

# Step 3: What addtional options you you want to get?
db_input high dibbler-client/options || true
db_go

db_stop

#DEBHELPER#
